:root {
    --main-color: #202020;
    --second-color: #f5f5f5;
    --button-hover-color: rgba(49, 49, 49, 0.93);
    --border-color: #9e9e9e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    color: #d9d9d9;
}

html,
body {
    font-family: Roobert, sans-serif;
    font-weight: 100;
    height: 100%;
}

@font-face {
    font-family: "mont";
    src: url("Montserrat-Light.ttf");
}

::-webkit-scrollbar {
    width: 0px;
}

html {
    height: 100%;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.upper-header {
    height: 55px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    filter: brightness(80%);
}

.lower-header {
    height: 0px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    filter: brightness(80%);

    background: #1a1a1a;
    animation: Header 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

header p {
    font-family: "mont";
}

header .attention {
    position: fixed;
    z-index: 200;
    color: #ffc966;
    background: #1a1a1a;
    text-align: center;
    top: 3px;
    right: 15px;
}

header .stabilize {
    position: fixed;
    z-index: 200;
    color: #9aff66;
    background: #1a1a1a;
    text-align: center;
    top: 30px;
    right: 15px;
}

@keyframes Header {
    0% {
        height: 0;
    }
    100% {
        height: 55px;
    }
}

@keyframes HeaderOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ContainerOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#CustomPage {
    text-align: center;
    margin-top: 30px;
    border-radius: 10px 10px 0 0;

    padding: 10px 0px;
    border: 1px solid rgb(80, 80, 80);
}

.several-containers {
    opacity: 0;
    animation: ContainerOpacity 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.pageButton {
    width: 120px;
    margin: 3px 0 4px 0;
    padding: 0 5px;
    white-space: normal;
    cursor: pointer;
    border-width: 0px;
    background-color: transparent;
    font-size: 17px;
    font-weight: bold;
    border-radius: 3px;
    opacity: 0;

    font-family: "mont";
    transition: 0.2s;
    animation: HeaderOpacity 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.pageButton:hover {
    transform: scale(1.03);
    transition: 0.4s;
}

.pageButton.selected {
    color: #737373;
    transform: scale(0.97);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.commandsContainer {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    padding: 10px 0 10px 0px;
    gap: 10px;
    border: 1px solid #505050;
    border-radius: 10px 10px 0 0;
}

#CommandsListContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-family: monospace;
    font-weight: lighter;
}

.commandButton {
    padding: 10px 12px;
    width: 130px;
    cursor: pointer;
    border: 1px solid var(--second-color);
    text-align: left;
    border-bottom: none;
    font-size: 16px;
    border-color: var(--border-color);
}

.commandButton>img {
    height: 25px;
}

#page {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 140px;
    position: relative;
}

#footer .poopoo {
    height: 52px;
    left: -3%;
    bottom: 53px;
    position: absolute;

    animation: poopoo 140s infinite linear;
    animation-delay: 1.5s;
}

@keyframes poopoo {
    0% {
        left: -3%;
        bottom: 53px;
    }
    95% {
        left: 95%;
        bottom: 53px;
    }
    100% {
        left: 95%;
        bottom: 0px;
    }
}

.footer-container {
    bottom: 0;
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer a {
    background-color: inherit;
}

footer .a1 {
    background-color: #161616;
    width: 35px;
    height: 35px;

    animation: shake 4s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
    1% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
    2% { transform: translate(-1.5px, 0px) rotate(0.5deg); }
    3% { transform: translate(1.5px, 1px) rotate(0deg); }
    4% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
    5% { transform: translate(-0.5px, 0.5px) rotate(-0.5deg); }
    6% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
    7% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
    8% { transform: translate(0px, 0px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

footer a:hover {
    transform: scale(0.95);
    transition: 0.1s;
}

.commandButton:hover {
    background-color: var(--button-hover-color)
}

#CommandsListContainer>.commandButton:first-child {
    border-radius: 7px 0px 0 0;
}

#CommandsListContainer>.commandButton:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid var(--border-color);
}

.commandButton.selected {
    color: rgb(98 98 98);
    filter: brightness(140%);
}

#CommandInfoContainer {
    margin-right: 10px;
    width: 100%;
}

.coloredWord{
    color: #ffffff;
    background: #c1000042;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 5px;
}

.coloredWord span {
    background: #44141442;
}

.coloredWord:hover span {
    display: none;
}

.coloredWord:hover:before {
    content: attr(data-replace-text);
}

.coloredText {
    color: rgb(154, 205, 50);
}

.coloredWord:hover {
    color: #d9d9d9;
    cursor: pointer;
}

.infoTable {
    border-collapse: separate;
    border-spacing: 0;
    width: inherit;
}

.infoTable td {
    border: 1px solid var(--border-color);
    border-style: none solid solid none;
    padding: 10px;
    color: #d9d9d9;
}

.infoTable td:first-child {
    text-align: center;
    font-weight: bold;
    width: 160px;
}

.infoTable tr:first-child td:first-child {
    border-top-left-radius: 0px;
}

.infoTable tr:first-child td:last-child {
    border-top-right-radius: 7px;
}

.infoTable tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
}

.infoTable tr:last-child td:last-child {
    border-bottom-right-radius: 0px;
}

.infoTable tr:first-child td {
    border-top-style: solid;
}

.infoTable tr td:first-child {
    border-left-style: solid;
}

.exampleUsername {
    color: rgb(89 241 93);
    font-weight: bold;
    margin-right: 5px;
}

.userIcon {
    width: 18px;
    margin-right: 3px;
    position: relative;
    top: 3px;
}

.exampleBot {
    color: rgb(154, 205, 50);
    font-weight: bold;
    margin-right: 5px;
}

.exampleTwitchMsg {
    color: rgb(136, 136, 136);
}

.infoTable td>.exampleBot,
td>.exampleTwitchMsg {
    display: inline-block;
    margin-top: 5px;
}

#LogoLink {
    height: 100%;
    width: 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

#LogoImage {
    height: 42px;
    width: inherit;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
    background-position-x: center;
    animation: LogoStart 1.5s ease-in-out forwards;
    transition: 0.2s;
}

#LogoImage:hover {
    transform: scale(105%);
    transition: 0.1s;
}

#LogoForeground {
    height: 100%;
    width: 50px;
    margin-right: 20px;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--main-color), transparent);
    background-size: 20px;
    background-repeat: no-repeat;
    animation: LogoForegroundStart 1.5s ease-in-out forwards;
}

.tooltip {
    font-family: "mont";
    position: fixed;
    padding: 2px 6px;
    border: 1px solid var(--border-color);
    text-align: center;
    color: var(--second-color);
    background: var(--button-hover-color);
}

@keyframes LogoStart {
    0% {
        background-position-x: -55px;
        background-image: url("images/logo_sleep.png");
    }
    1% {
        background-position-x: -55px;
        background-image: url("images/logo.png");
    }

    40% {
        background-position: -23px;
    }

    42% {
        background-image: url("images/logo.png");
    }

    43% {
        background-image: url("images/logo_sleep.png");
    }

    45% {
        background-image: url("images/logo_sleep.png");
    }

    46% {
        background-image: url("images/logo.png");
    }

    50% {
        background-position: -23px;
    }

    100% {
        background-position: center;
    }
}

@keyframes LogoForegroundStart {
    0% {
        background-size: 0px;
    }

    50% {
        background-size: 20px;
    }

    80% {
        background-size: 0;
    }
    100% {
        background-size: 0;
    }
}